# 8.2.2 Extract Kaggle Data

In [1]:
import pandas as pd

In [2]:
kaggle_metadata = pd.read_csv('movies_metadata.csv', low_memory=False)
ratings = pd.read_csv('ratings.csv')

In [4]:
kaggle_metadata.head()
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [6]:
kaggle_metadata.tail()
ratings.tail()

          userId  movieId  rating   timestamp
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

In [12]:
kaggle_metadata.sample()
ratings.sample()

          userId  movieId  rating  timestamp
10143977  104685     2990     4.0  991970948

In [15]:
kaggle_metadata.sample(n=5)
ratings.sample(n=5)

          userId  movieId  rating   timestamp
16080101  167306     3267     4.0   977244898
6392010    66004     3996     3.0  1138211746
23451406  243443     8873     0.5  1353089319
6629114    68403     3479     3.0  1020374155
21883267  227376     4292     3.0   992302544

In [16]:
ratings.shape

(26024289, 4)